{% use 'form_div_layout.html.twig' %}

{# for twitter bootstrap specifically #}
{% block field_row %}
{% spaceless %}
<div class="{% if 'checkbox' in block_prefixes %}checkbox{% elseif 'radio' in block_prefixes %}radio{% else %}form-group{% endif %}{% if errors|length > 0 %} has-error{% endif %}">
    {% if 'checkbox' not in block_prefixes and 'radio' not in block_prefixes %}
        {{ form_label(form, label|default(null)) }}
    {% endif %}
    <div class="controls">
    {{ form_widget(form) }}
    {{ form_errors(form)}}
    </div>
</div>
{% endspaceless %}
{% endblock field_row %}

{% block form_row %}
{% spaceless %}
<div class="{% if 'checkbox' in block_prefixes %}checkbox{% elseif 'radio' in block_prefixes %}radio{% else %}form-group{% endif %}{% if errors|length > 0 %} has-error{% endif %}">
    {% if 'checkbox' not in block_prefixes and 'radio' not in block_prefixes %}
        {{ form_label(form, label|default(null)) }}
    {% endif %}
    {{ form_widget(form) }}
    {{ form_errors(form)}}
</div>
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}


{% block field_errors %}
{% spaceless %}
{% if errors|length > 0 %}

{% for error in errors %}
<div class="help-inline">
{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
</div>
{% endfor %}

{% endif %}
{% endspaceless %}
{% endblock field_errors %}

{# special errors block for form errors - at the top of the form, for example #}
{% block form_errors %}
{% spaceless %}
{% if errors|length > 0 %}
<div class="alert has-error" style="display: inline-block;">
{% for error in errors %}
{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
<br/>
{% endfor %}
</div>
{% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block generic_label %}
{% set attr = attr|merge({'class': ''}) %}
{% spaceless %}
{% if required %}
{% set attr = attr|merge({'class': 'required'}) %}
{% endif %}
<label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label|trans }}</label>
{% endspaceless %}
{% endblock %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': 'form-control'}) %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
{% spaceless %}
<label>
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ label|trans }} {% if label is empty %}{{ name }}{% endif %}
</label>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% spaceless %}
<label>
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ label|trans }} {% if label is empty %}{{ name }}{% endif %}
</label>
{% endspaceless %}
{% endblock radio_widget %}

{# end twitter bootstrap stuff #}
